### 什么是Pandas
一个Python类库：用于数据分析，数据处理，数据可视化
方便与其他类库一起使用：
+ numpy
+ scikit-learn

### Pandas读取数据
+ 读取纯文本文件：
    + 读取csv文件
    + 读取txt文件
+ 读取xlsx文件
+ 读取mysql数据表

In [1]:
import os
import pandas as pd
import numpy as np

In [5]:
print(os.getcwd())

E:\Users\Jupyter notebook\Pytorch-hand-book\pandas练习

In [9]:
fpath="./datas/ml-latest-small/ratings.csv"
ratings=pd.read_csv(fpath)
ratings.head()  # 会默认标题行是第一行

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
ratings.shape

(100836, 4)

In [16]:
ratings["movieId"]  # 返回的是一个serice

0              1
1              3
2              6
3             47
4             50
           ...
100831    166534
100832    168248
100833    168250
100834    168252
100835    170875
Name: movieId, Length: 100836, dtype: int64

In [17]:
ratings.columns  # 是一个索引

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [18]:
ratings.index  # 范围索引

RangeIndex(start=0, stop=100836, step=1)

In [20]:
ratings.dtypes  # 查看每一列的数据类型

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

### 读取txt文件，指定分隔符，列名

In [24]:
fpath="./datas/crazyant/access_pvuv.txt"
pvuv=pd.read_csv(fpath,
                 sep="\t",
                header=None,
                names=["name","pv","uv"])
pvuv.head()

         name   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98

In [33]:
fpath="./datas/crazyant/access_pvuv.xlsx"
df=pd.read_excel(fpath)
df

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

In [38]:
import pymysql
connecter=pymysql.connect(
    host="127.0.0.1",
    user="root",
    password="1234512345",
    database="test",
    charset="utf8"
)
mysql_page=pd.read_sql("select * form crazyant_pvuv",con=connecter)

OperationalError: (2003, "Can't connect to MySQL server on '127.0.0.1' ([WinError 10061] 由于目标计算机积极拒绝，无法连接。)")