## Panda数据结构
+ Series 是一种类似一维数组的对象，由一种数据以及一组与之相关的数据标签组成

In [5]:
import pandas as pd
import numpy as py
s1=pd.Series([i for i in range(1,10,2)]+["a"])
s1

0    1
1    3
2    5
3    7
4    9
5    a
dtype: object

In [6]:
s1.index

RangeIndex(start=0, stop=6, step=1)

In [7]:
s1.values  # 分为索引和数据两个部分

array([1, 3, 5, 7, 9, 'a'], dtype=object)

### 创建一个索引自定义的Series

In [9]:
s2=pd.Series([ i for i in range(2,15,3)],index=list("ABCDE"))
s2
s2.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

### 使用字典创建Series

In [12]:
dict1={
    "a":39,
    "b":35345,
    "c":"pfdsj",
}
s3=pd.Series(dict1)
s3

a       39
b    35345
c    pfdsj
dtype: object

In [13]:
s2["A"]

2

In [14]:
s3["a"]

39

In [15]:
s2[["A","D"]]

A     2
D    11
dtype: int64

### DataFrame
表格型数据结构：
+ 每列可以是不同的值类型，
+ 既有行索引index,也有列索引columns
+ 可以看成是Series组成的字典

In [20]:
dict2={
    "姓名":list("ABCDE"),
    "age":[i for i in range(1,6)],
    "婚否":["shi","fou","shi","shi","fou"]
}
df2=pd.DataFrame(dict2)
df2

  姓名  age   婚否
0  A    1  shi
1  B    2  fou
2  C    3  shi
3  D    4  shi
4  E    5  fou

In [22]:
df2.columns

Index(['姓名', 'age', '婚否'], dtype='object')

In [23]:
df2.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
df2["姓名"]

0    A
1    B
2    C
3    D
4    E
Name: 姓名, dtype: object

In [34]:
# 查询一行
df2.loc[1:3]

  姓名  age   婚否
1  B    2  fou
2  C    3  shi
3  D    4  shi

In [36]:
df2.iloc[3]  # 查询多行

姓名       D
age      4
婚否     shi
Name: 3, dtype: object