### 数据转换函数:map apply apply map
+ map 只用于series实现key->value的对应
+ apply:用于series实现每个值得处理，用于dataframe实现某个轴的series处理
+ applymap: 只能用于dataframe，用于处理该dataframe的每个元素

### map用于series值得转换
####  方法一：series.map(dict)
实现：
+ 将股票中的英文名字换成中文名字

In [1]:
import pandas as pd
stocks=pd.read_excel("./datas/stocks/互联网公司股票.xlsx")
stocks.head()

           日期    公司      收盘      开盘       高       低    交易量   涨跌幅
0  2019-10-03  BIDU  104.32  102.35  104.73  101.15   2.24  0.02
1  2019-10-02  BIDU  102.62  100.85  103.24   99.50   2.69  0.01
2  2019-10-01  BIDU  102.00  102.80  103.26  101.00   1.78 -0.01
3  2019-10-03  BABA  169.48  166.65  170.18  165.00  10.39  0.02
4  2019-10-02  BABA  165.77  162.82  166.88  161.90  11.60  0.00

In [2]:
# 公司股票代码到中文的映射
dict={
    "bidu":"百度",
    "baba":"阿里巴巴",
    "jd":"京东",
    "iq":"爱奇艺"
}
#　map函数实现变更对应位置的名称
stocks["中文名字"]=stocks["公司"].str.lower().map(dict)  # map实现键值的变换

In [3]:
stocks.head()

           日期    公司      收盘      开盘       高       低    交易量   涨跌幅  中文名字
0  2019-10-03  BIDU  104.32  102.35  104.73  101.15   2.24  0.02    百度
1  2019-10-02  BIDU  102.62  100.85  103.24   99.50   2.69  0.01    百度
2  2019-10-01  BIDU  102.00  102.80  103.26  101.00   1.78 -0.01    百度
3  2019-10-03  BABA  169.48  166.65  170.18  165.00  10.39  0.02  阿里巴巴
4  2019-10-02  BABA  165.77  162.82  166.88  161.90  11.60  0.00  阿里巴巴

#### 方法二： series.map(function)
function的参数是series的每个元素的值

In [4]:
stocks.loc[:,"中文名字2"]=stocks["公司"].map(lambda x : dict[x.lower()])
# x是传递过来的

### 2. apply用于series和dataframe
+ series.apply(function)函数的参数是每个值
+ dataframe.apply(function) 函数的参数是series

#### 2.1 series应用apply(function)

In [5]:
# series应用apply(function)
stocks["中文名字3"]=stocks["公司"].apply(
    lambda x : dict[x.lower()])
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,中文名字,中文名字2,中文名字3
0,2019-10-03,BIDU,104.32,102.35,104.73,101.15,2.24,0.02,百度,百度,百度
1,2019-10-02,BIDU,102.62,100.85,103.24,99.50,2.69,0.01,百度,百度,百度
2,2019-10-01,BIDU,102.00,102.80,103.26,101.00,1.78,-0.01,百度,百度,百度
3,2019-10-03,BABA,169.48,166.65,170.18,165.00,10.39,0.02,阿里巴巴,阿里巴巴,阿里巴巴
4,2019-10-02,BABA,165.77,162.82,166.88,161.90,11.60,0.00,阿里巴巴,阿里巴巴,阿里巴巴

In [6]:
stocks.loc[:,["公司","开盘"]]

      公司      开盘
0   BIDU  102.35
1   BIDU  100.85
2   BIDU  102.80
3   BABA  166.65
4   BABA  162.82
5   BABA  168.01
6     IQ   15.71
7     IQ   15.85
8     IQ   16.14
9     JD   28.11
10    JD   28.00
11    JD   28.22

#### 2.2 dataframe.apply(function)
+ function的参数是对应轴的series

apply是在stocks这个dataframe上调用；
lambda x的x是一个series,因为指定了axis=1，所以series的key是列名，可以用x\["公司"\]获取

In [7]:
stocks["公司中文4"]=stocks.apply(
lambda x : dict[x["公司"].lower()],
    axis=1
)
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,中文名字,中文名字2,中文名字3,公司中文4
0,2019-10-03,BIDU,104.32,102.35,104.73,101.15,2.24,0.02,百度,百度,百度,百度
1,2019-10-02,BIDU,102.62,100.85,103.24,99.50,2.69,0.01,百度,百度,百度,百度
2,2019-10-01,BIDU,102.00,102.80,103.26,101.00,1.78,-0.01,百度,百度,百度,百度
3,2019-10-03,BABA,169.48,166.65,170.18,165.00,10.39,0.02,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
4,2019-10-02,BABA,165.77,162.82,166.88,161.90,11.60,0.00,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴